@import '../colors';

.burger {
  width: 40px;
  height: 40px;
  border: 1px solid $light;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 5px;
  background-color: $primary;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: rgba($primary, 0.8);
  }

  &__line {
    height: 2px;
    border-radius: 50px;
    width: 100%;
    background-color: $light;
  }
}
