@import '../colors';

.sidebar {
  border-right: 1px solid $light;
  color: $light;
  transform: translateX(calc(-100% - 10px));
  transition: transform .3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &__header {
    padding: 10px 10px 10px 60px;
    background-color: $primary;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  &__logo-pre {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 2px;
  }

  &__items {
    font-size: 18px;
  }

  &__item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s;

    &.active {
      background-color: $gray-500;
      color: $dark;
    }

    &:hover {
      background-color: rgba($gray-500, .8);
    }
  }

  &.active {
    transform: none;
  }
}
